<?xml version="1.1" encoding="UTF-8" standalone="no"?><flow-definition plugin="workflow-job@1400.v7fd111b_ec82f">
  <actions/>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4000.v5198556e9cea_">
    <script>
                node {
                    try {
                        stage('Checkout') {
                            checkout([$class: 'GitSCM',
                                branches: [[name: "main"]],
                                doGenerateSubmoduleConfigurations: false,
                                extensions: [],
                                userRemoteConfigs: [[
                                    url: 'https://github.com/kayyazka/idsys'
                                ]]
                            ])
                        }

                        stage('Build &amp; Push Docker Image') {
                            sh """
                                                     
                                docker build -t kayyazka/laravel:latest \
                              -f \$WORKSPACE/Dockerize/Laravel/hello-world/Dockerfile \
                              \$WORKSPACE/Dockerize/Laravel/hello-world/

        

                            """
                        }
                        
                        {
                            stage('Trivy Security Scan') {
                                sh """
                                    if ! command -v trivy &amp;&gt; /dev/null; then
                                        curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh
                                    fi
                                    trivy image --severity HIGH,CRITICAL --exit-code 1 kayyazka/laravel:latest
                                """
                            }
                        }

                        if (false) {
                            stage('Push Docker Image') {
                                sh """
                                docker push kayyazka/laravel-app:${params.BRANCH}-${GIT_COMMIT}
                                """
                            }
                        }

                        if (false) {
                            stage('Test Docker Image') {
                                sh """
                                docker run --rm kayyazka/laravel-app:${params.BRANCH}-${GIT_COMMIT}                                     php artisan test
                                """
                            }
                        }

                        if (false) {
                            stage('Run Docker Container') {
                                sh """
                                docker run -d --name laravel-app-test -p 8081:80 kayyazka/laravel-app:${params.BRANCH}-${GIT_COMMIT}
                                """
                            }
                        }

                    } catch (e) {
                        currentBuild.result = "FAILED"
                        throw e
                    }
                }

</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>